
body { 
    /* Permet de modifier le font du site web avec la couleur de l'ecriture la couleur de font avec plein d'autre chose*/
    display: flex;
    flex-direction: column;
    font-family: robotoReg,Arial,sans-serif;
    min-height: 100vh!important;
    height: 100%!important;
    overflow: auto!important;
    background-color: #532424;
    color: white;
}
.container--thicker { /* permet de regles les a droit est gauche*/
    margin-left: auto;
    margin-right: auto;
}
.galery { /* permet de regles le magin insi que le padding aussi de suprime le point de ul*/
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.galery li {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.4375rem;
    text-align: center;
    margin: 0 1.25rem;
}
h1{ 
    text-align: center;
}
